<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Walter's Website</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>

 <!-- Home. General information, navigation and photo -->
  <div class="cover">
  <div class="navbar">
    <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Bio</a></li>
  <li><a href="#">Recent Projects</a></li>
  <li><a href="#">Professional Experience</a></li>
  <li><a href="#">Human Experience</a></li>
  <span id="email"><a href="mailto:walterayalae43@gmail.com">walterayalae43@gmail.com</a></span>
    </ol>
  </div>
  
  <div class="row">
  <div id="title">
  <h1>Walter Ayala</h1>
  <h4>-Full Stack Developer-</h4>
  </div>
  <div class="col-xs-6 col-md-3">
  <img id="imgWalt" src="https://c2.staticflickr.com/6/5714/30704177546_6ff19a5374_q.jpg" alt="myPhoto">
  <div class= contact1>
   <ul class="contact2">
    <li><a href="mailto:walterayalae43@gmail.com" >Email me</a></li>
    <li><a href="https://www.linkedin.com/in/walterayalae" >Linkedin</a></li>
    <li><a href="https://github.com/walterayalae" >Github</a></li>
   </ul>
   </div>    
</div>
  </div>
</div>

<!-- Section to add website's general summary -->
<div>
<h2>Summary</h2>


</div>

<!-- Most recent projects. Display top 3 with access to code repository -->
<div class="row1">
<h2>Recent Projects</h2>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="qc" src="https://pbs.twimg.com/profile_images/510387922730639360/UANn5q8i.jpeg" alt="...">
      <div class="caption">
        <h3>QuickerCater</h3>
        <ul>
        <li>Designed application structure and features based on customer/owner feedback.</li>
        <li>Tested different stacks and libraries to find the most effective way to communicate front-end with back-end to represent data pertaining to menus, cart and stores.</li>
        <li>Beta version is currently used by local businesses in Austin TX.</li>
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">See Code</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="cr" src="http://i.huffpost.com/gen/1106197/images/o-ONLINE-DATING-facebook.jpg" alt="...">
      <div class="caption">
        <h3>Credz</h3>
        <ul>
        <li>Dating application that matches users by credit score. Created during the Austin Diversity Hackathon 2016.</li>
        <li>Implemented with HTML/CSS, Bootstrap, Node.js, Express and Mongoose.</li>
        <li>Award winner and recognized for overcoming challenges during development.</li>
        <p>- "Pablo Rodriguez Award"</p>
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">See Code</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://hiphoplives.net/wp-content/uploads/2015/09/hangman.gif" alt="...">
      <div class="caption">
        <h3>Hangman Game</h3>
        <ul>
        <li>Designed back-end development for game interaction and responsiveness.</li>
        <li>Organized back-end interface and features by implementing socket.io for real time response.</li>
        <li>Designated team roles, project requirements and deadlines during daily standups & sprint reviews.</li>
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">See Code</a></p>
      </div>
    </div>
  </div>
</div>
</div>
<hr>

<!-- Experience and professional achievements -->
<div class="experience">
<div class="media">
<h2>Professional Experience</h2>
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://churrocoaustin.com/wp-content/uploads/2014/12/ChurrCoLogoSalmon144x144.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Churro Company Catering</h4>
    <ul>
    <li>Manage operations & logistics for 30 yearly events including festivals, weddings & office events.</li>
    <li>Design pricing model, menu, employee training and service agreement.</li>
    <li>Establish relationships with vendors and service providers to start second location.</li>
    </ul>
  </div>
</div>
<br>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://i.forbesimg.com/media/lists/companies/solarwinds_416x416.jpg" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Solarwinds</h4>
    <ul>
    <li>Recognized for resolving customer technical issues to attain 35% sales growth.</li>
    <li>Educated clients on Network Monitoring software through technical presentations to network<br>engineers, CTO’s, technology directors and key decision makers.</li>
    <li>Installed software on multiple clients workstations in coordination with engineering team.</li>
    </ul>
  </div>
</div>
<br>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://comptonbusinessjournal.com/wp-content/uploads/2015/11/Chase-Bank-Opens-In-Compton.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Chase Bank</h4>
    <ul>
    <li>Employee of the month(2014); Top sales and service performance (2013). </li>
    <li>Managed a team of 15 bankers and tellers on achieving company’s sales and service goals.</li>
    <li>Provided employee training on bank policy and direction during financial crisis.</li>
    </ul>
  </div>
</div>
<br>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://pbs.twimg.com/profile_images/463359351416029184/N5L2uOTF_400x400.jpeg" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Wells Fargo</h4>
    <ul>
    <li>Promoted 3 times in first year for meeting sales goals and service expectations.</li>
    </ul>
  </div>
</div>
<br>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://a.dilcdn.com/bl/wp-content/uploads/sites/8/2013/03/family-support.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">The Walt Disney Company</h4>
    <ul>
    <li>Provided bilingual customer service at the happiest place on Earth.</li>
    </ul>
  </div>
  <br>
  
</div>
</div>
<div>
  <h2>Human Experience</h2>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>